{% extends 'layout.html' %}

{% set pageHeading = "Components" %}
{% set pageDescription = "Use these components in your NHS App prototype layouts." %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block beforeContent %}
  {{ backLink({
    "text": "Back",
    "classes": "nhsuk-u-margin-bottom-0",
    href: "/"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">

      <h1>{{ pageHeading }}</h1>

      <p class="nhsuk-lede-text">
        {{ pageDescription }}
      </p>

      <h2>Design system componnets</h2>

      <p>In the NHS App prototype you can use all components from the:</p>
      <ul clas="nhsuk-list">
        <li>
          <a href="https://service-manual.nhs.uk/design-system">NHS design system</a>
        </li>
        <li>
          <a href="https://design-system.nhsapp.service.nhs.uk/components/">NHS App design system</a>
        </li>
      </ul>

      <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible app-section-break--width-4">

      <h2>V0 components</h2>

      <p>V0 components come from an older internal library and may be replaced or removed.</p>

      <ul clas="nhsuk-list">
        <li>
          <a href="/components/dynamic-page-title/">Dynamic page title</a>
        </li>
        <li>
          <a href="/components/interruption-card/">Interruption card</a>
        </li>
        <li>
          <a href="/components/link-with-icon/">Link with an icon</a>
        </li>
        <li>
          <a href="/components/provider-banner/">Provider Banner</a>
        </li>
        <li>
          <a href="/components/related-content-card/">Related content card</a>
        </li>
        <li>
          <a href="/components/switch-profile-banner/">Switch profile banner</a>
        </li>
      </ul>

      <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible app-section-break--width-4">

      <h2>Experimental components</h2>

      <p>These are not yet part of the design system. Use them in prototypes to test usability or new patterns.</p>

      <ul clas="nhsuk-list">
        <li>
          <a href="/components/inset-text/">Inset text (grey variant)</a>
        </li>
        <li>
          <a href="/components/section-breaks/">Section break (divider line)</a>
        </li>
      </ul>

      <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible app-section-break--width-4">

      <h2>Native components</h2>

      <p>These are native components that have been built in HTML for testing purposes.</p>

      <ul clas="nhsuk-list">
        <li>
          <a href="/components/global-navigation-native/">Top navigation (native)</a>
        </li>
        <li>
          <a href="/components/app-bottom-navigation/">Bottom nav (native)</a>
        </li>
      </ul>

      <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible app-section-break--width-4">

      <h2>Component backlog</h2>

      <p>A place for discussing design components and patterns in the NHS App design system, and possible future additions.</p>

      <p><a href="https://github.com/orgs/nhsuk/projects/8">View component backlog on GitHub</a></p>

      <hr class="nhsuk-section-break nhsuk-section-break--xl nhsuk-section-break--visible app-section-break--width-4">

      <h2>Help improve the components</h2>

      <p>If a component isn't working as intended or looks out of date, please <a href="https://github.com/nhsuk/nhsapp-prototype/issues">submit an issue on GitHub</a>.</p>

      <hr class="nhsuk-section-break nhsuk-section-break--m">

    </div>
  </div>
{% endblock %}
