{% extends 'layout-app.html' %}

{% set hub = "Linked profiles" %}

{% set backLink = true %}

{% set pageHeading = "Switch to " + data['linkedProfileFirstName'] + " " + data['linkedProfileLastName'] + "'s profile to act on their behalf" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- DYNAMIC PAGE TITLE -->
      {{ dynamicPageTitle({
        title: pageHeading,
        titleSecondary: true
      })}}

      <!-- Tick list -->
      <h2 class="nhsuk-heading-m">Services available for</h2>
      <ul class="nhsuk-list nhsuk-list--tick nhsuk-u-margin-bottom-7" role="list">
        <li>
          <svg class="nhsuk-icon nhsuk-icon--tick app-icon--tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16" focusable="false" aria-hidden="true">
            <path d="M11.4 18.8a2 2 0 0 1-2.7.1h-.1L4 14.1a1.5 1.5 0 0 1 2.1-2L10 16l8.1-8.1a1.5 1.5 0 1 1 2.2 2l-8.9 9Z"/>
          </svg>
          You can book a GP appointment
        </li>
        <li>
          <svg class="nhsuk-icon nhsuk-icon--tick app-icon--tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16" focusable="false" aria-hidden="true">
           <path d="M11.4 18.8a2 2 0 0 1-2.7.1h-.1L4 14.1a1.5 1.5 0 0 1 2.1-2L10 16l8.1-8.1a1.5 1.5 0 1 1 2.2 2l-8.9 9Z"/>
          </svg>
          You can order a repeat prescription
        </li>
        <li>
          <svg class="nhsuk-icon nhsuk-icon--tick app-icon--tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16" focusable="false" aria-hidden="true">
            <path d="M11.4 18.8a2 2 0 0 1-2.7.1h-.1L4 14.1a1.5 1.5 0 0 1 2.1-2L10 16l8.1-8.1a1.5 1.5 0 1 1 2.2 2l-8.9 9Z"/>
          </svg>
          You can view their GP health record
        </li>
      </ul>

      <form action="/pages/home-linked-profiles" method="post" novalidate>

        <input type="hidden" name="accountType" value="linked-profiles">

        {{ button({
          text: "Switch to " + data['linkedProfileFirstName'] + "'s profile",
          classes: "nhsapp-button"
        }) }}

      </form>

    </div>
  </div>

  {% endblock %}
