// ==========================================================================
// COMPONENTS / #STICKY FOOTER
// ==========================================================================

.app-sticky-footer {
  @include nhsuk-responsive-padding(4);

  background: nhsuk-colour("white");
  bottom: 80px;
  position: fixed;
  text-align: center;
  width: 100%;

  @include nhsuk-media-query($from: tablet) {
    bottom: 84px;
  }

  .app-button {
    width: 100%;

    @include nhsuk-media-query($from: tablet) {
      width: 60%;
    }
  }
}