// ==========================================================================
// COMPONENTS / #SWITCH PROFILE BANNER
// ==========================================================================

.app-switch-profile-banner {
  @include nhsuk-responsive-margin(6, "bottom");
  @include nhsuk-responsive-padding(4, "bottom");
  @include nhsuk-responsive-padding(4, "top");

  background-color: nhsuk-colour("warm-yellow");

  + .app-link--with-icon {
    margin-top: - nhsuk-spacing(3);

    @include nhsuk-media-query($from: tablet) {
      margin-top: - nhsuk-spacing(4);
    }
  }
}

.app-switch-profile-banner__link {
  @include nhsuk-link-style-text;
}